.main-floor {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  border: 2px solid;
  border-color: $dark_blue;
  padding: 12px 15px 20px 12px;

  &__div {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.5px;

    @include tablet {
      width: 100%;
      max-width: 880px;
      justify-content: space-between;
      align-items: center;
    }
    @include desktop {
      max-width: 1317px;
    }
  }
  &__title {
    font-size: 1rem;
    color: $dark_blue;
  }
  &__button {
    width: 95px;
    height: 32px;
    font-size: 0.7rem;
    color: $white;
    border-radius: 0.75rem;
    background-color: $dark_blue;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  @include tablet {
    max-width: 920px;
  }
  @include desktop {
    max-width: 1363px;
  }
}
