.main-floor {
  min-width: 300px;
  border-radius: 26px;
  border: 2px solid;
  border-color: $dark_blue;
  padding: 12px 15px 20px 12px;

  &__div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.5px;
  }
  &__title {
    font-size: 1rem;
    color: $dark_blue;
  }
  &__button {
    width: 95px;
    height: 32px;
    font-size: 0.7rem;
    color: $white;
    border-radius: 0.75rem;
    background-color: $dark_blue;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
