.header {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: $helvetica;
    color: $dark_blue;
  }
  &__separator {
    position: relative;
    width: 100vw;
    height: 2px;
    color: $light_blue;
    border-bottom: 1.5px solid;
    margin: 20px 0;
  }
}
